$headerTextColor: #2c2f3c;
$bodyBackgroundColor: #fff;
$buttoBackgroundColor: #699900;
$accentColor: #21232e;
$wordsBackgroundColor: #14a0c7;
$sourceSans: 'Source Sans Pro', sans-serif;
$hinda: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;
$backgroundImage: "../img/m-h-day.jpg";
$sectionText: #2c2f3c;
$linear-gradient: linear-gradient(to right, #679709, #2e5cd4);
