$headerTextColor: #fcfcfc;
$bodyBackgroundColor: #3c3d46;
$buttoBackgroundColor: #fbff02;
$accentColor: #3f445c;
$wordsBackgroundColor: #c74714;
$sourceSans: 'Source Sans Pro', sans-serif;
$hinda: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;
$font-sizes:("main-f-z": 16px, "btn-f-z": 20px);
$backgroundImage: "../img/m-h-night.jpg";
$sectionText: #fff;
$linear-gradient: linear-gradient(to right, #d6da0f, #d4412e);